@import "../../variables.modules";

.pink {
  color: $pink;
}
.gray {
  color: #ffffff;
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.white {
  color: #f8f8f8;
}
.red {
  color: #c33a3a;
}
.green {
  color: #d4e157;
}
.purple {
  color: #ea80fc;
}
.blue {
  color: #039798 !important;
}
.yellow {
  color:#ffcf2a;
}
.commandGreen {
  color: #59912c;
}
.schoolFile {

}
.schooldir {
  color: #00a47f
}

.skillsThreeColumn {
  columns: 1;
  @media only screen and (min-width: 940px) {
    columns: 3;
  }

  li {
    margin: 0;
    line-height: 1.25;
  }
}

.skills {
  columns: 1;
  @media only screen and (min-width: 940px) {
    columns: 2;
  }

  li {
    margin: 0;
    line-height: 1.75;
  }
}

.muiradio {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
  border-radius: 10px;
  padding-right: 1em
}